@model DataAccess.Entites.Car;

<h1>Car Detail Information</h1>

<div class="card text-center">    
     <h5 class="card-header">@Model.Name</h5>
     <div class="card-body">
        <div class="car-image">
            <img src="@(Model.ImagePath ?? "https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-15.png")" class="card-img-top" alt="...">
        </div>
         <h5 class="card-title">Something</h5>
         <p class="card-text">Other information</p>
        @if(ViewBag.ReturnUrl == null)
        {    
            <a asp-action="Index" class="btn btn-dark">Back</a>
        }
        else
        {
            <a href="@ViewBag.ReturnUrl" class="btn btn-dark">Back</a>
        }
    </div>
</div>