@model  DataAccess.Entites.Car;

<h1>hello</h1>

<form asp-action="Edit" method="post" class="row g-3">

    <div class="col-md-6">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control" id="inputEmail4">
        <span asp-validation-for="Name" class="form-text text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Year" for="inputEmail4" class="form-label">Year</label>
        <select asp-for="Year" id="inputState" class="form-select" required>
            <option selected>Choose...</option>
            <option>2023</option>
            <option>2022</option>
            <option>2021</option>
            <option>2020</option>
            <option>2019</option>
            <option>2018</option>
            <option>2017</option>
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
            <option>2013</option>
            <option>2012</option>
            <option>2011</option>
            <option>2010</option>
            <option>2009</option>
            <option>2008</option>
            <option>2007</option>
            <option>2006</option>
            <option>2005</option>
            <option>2004</option>
            <option>2003</option>
            <option>2002</option>
            <option>2001</option>
            <option>2000</option>
            <option>1999</option>
            <option>1998</option>
            <option>1997</option>
            <option>1996</option>
            <option>1995</option>
            <option>1994</option>
            <option>1993</option>
            <option>1992</option>
            <option>1991</option>
            <option>1990</option>
        </select>
        @*<input type="number" class="form-control" id="inputEmail4">*@
    </div>

    <div class="col-md-6">
        <label asp-for="Price" class="form-label">Price</label>
        <input asp-for="Price" type="number" step="0.01" class="form-control" id="inputEmail4">
        <span asp-validation-for="Price" class="form-text text-danger"></span>
    </div>
 
    <div class="col-md-6">
        <label asp-for="Km" class="form-label">Km</label>
        <input asp-for="Km" type="number" class="form-control" id="inputEmail4">
        <span asp-validation-for="Km" class="form-text text-danger"></span>
    </div>

    <div class="col-md-6"
        <label asp-for="Fuel" class="form-label">Fuel</label>
        <select asp-for="Fuel" id="inputState" class="form-select" required>
            <option selected>Choose...</option>
            <option>Gasoline</option>
            <option>Gas</option>
            <option>Diesel</option>
            <option>Electric</option>
        </select>
    </div>

    <div class="col-md-6">
        <label asp-for="City" class="form-label">City</label>
        <input asp-for="City" type="text" class="form-control" id="inputEmail4">
        <span asp-validation-for="City" class="form-text text-danger"></span>
    </div>

    <div class="col-md-12">
        <label asp-for="Transmission" class="form-label">Transmission</label>
        <select asp-for="Transmission" id="inputState" class="form-select" required>
            <option selected>Choose...</option>
            <option>Manual</option>
            <option>Automat</option>
            <option>Robot</option>
        </select>
    </div>

    <div class="col-md-12">
        <label asp-for="ImagePath" class="form-label">Image Url</label>
        <input asp-for="ImagePath" type="url" class="form-control" id="inputEmail4" placeholder="Enter image URL">
        <span asp-validation-for="ImagePath" class="form-text text-danger"></span>
    </div>

    <div class="col-6">
        <button asp-action="Index" class="btn btn-dark w-100">Back</button>
    </div>

    <div class="col-6">
        <button type="submit" class="btn btn-primary w-100">Edit</button>
    </div>

</form>